streamlit
pandas
numpy
matplotlib
scikit-learn
scipy
seaborn
plotly
pydeck
scikit-image
opencv-python-headless
tifffile
git+https://github.com/fujiisoup/sif_parser.git
streamlit==1.48.0

streamlit>=1.34
ncempy>=1.10
scikit-image
scikit-learn
plotly>=5.19
kaleido>=0.2.1
streamlit-plotly-events>=0.0.6
imageio
imageio-ffmpeg

